@charset "UTF-8";
/* アンダースコアから始まるファイル名のscssファイルはコンパイルされない */
/* 見出しやヘッダ・フッタに使用する色 */
/* MAIN_COLORを背景としたときのフォントの色 */
/* NOTE, INFO, ... などの色 */
@font-face {
  src: url(../../fonts/Noto_Sans_JP/NotoSansJP-Regular.otf);
  font-family: 'Noto Sans JP'; }

body {
  font-family: 'Noto Sans JP'; }

table, th, td {
  padding: 3px 8px;
  border: 1px solid midnightblue;
  border-collapse: collapse; }

th {
  background-color: midnightblue;
  color: white; }

h1, h2, h3, h4, h5, h6 {
  color: midnightblue; }

pre {
  border: 1px solid gray; }

.admonition-title {
  position: relative;
  left: -2px;
  top: -2px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: -4px;
  font-size: 1.4rem; }
  .note .admonition-title {
    color: white;
    background-color: lightskyblue; }
  .info .admonition-title {
    color: white;
    background-color: royalblue; }
  .warning .admonition-title {
    color: white;
    background-color: orange; }
  .tip .admonition-title {
    color: white;
    background-color: seagreen; }
  .danger .admonition-title {
    color: white;
    background-color: crimson; }

.admonition.note {
  border-color: lightskyblue; }

.admonition.info {
  border-color: royalblue; }

.admonition.warning {
  border-color: orange; }

.admonition.tip {
  border-color: seagreen; }

.admonition.danger {
  border-color: crimson; }

.note, .info, .danger, .tip, .warning {
  margin: 20px;
  border-width: 2px;
  border-style: solid; }
  .note::before, .info::before, .danger::before, .tip::before, .warning::before {
    position: relative;
    top: 6px;
    left: -2px;
    padding: 8px; }

/* .katexのスタイルを変えても反映されない？eqとeqnのスタイルを変えたらいけた */
eq {
  /* インライン数式 */
  font-size: 1.3rem; }

eqn {
  /* ブロック数式 */
  font-size: 1.5rem; }
