@charset "UTF-8";
/* アンダースコアから始まるファイル名のscssファイルはコンパイルされない */
/* 見出しやヘッダ・フッタに使用する色 */
/* MAIN_COLORを背景としたときのフォントの色 */
/* NOTE, INFO, ... などの色 */
table, th, td {
  padding: 3px 8px;
  border: 1px solid midnightblue;
  border-collapse: collapse; }

th {
  background-color: midnightblue;
  color: white; }

h1, h2, h3, h4, h5, h6 {
  color: midnightblue; }

pre {
  border: 1px solid gray; }

.note {
  border-color: lightskyblue; }
  .note::before {
    content: 'NOTE';
    color: white;
    background-color: lightskyblue; }

.info {
  border-color: royalblue; }
  .info::before {
    content: 'INFO';
    color: white;
    background-color: royalblue; }

.danger {
  border-color: crimson; }
  .danger::before {
    content: 'DANGER';
    color: white;
    background-color: crimson; }

.tip {
  border-color: seagreen; }
  .tip::before {
    content: 'TIP';
    color: white;
    background-color: seagreen; }

.warning {
  border-color: orange; }
  .warning::before {
    content: 'WARNING';
    color: white;
    background-color: orange; }

.note, .info, .danger, .tip, .warning {
  margin: 20px;
  border-width: 2px;
  border-style: solid; }
  .note::before, .info::before, .danger::before, .tip::before, .warning::before {
    position: relative;
    top: 6px;
    left: -2px;
    padding: 8px; }
