@charset "UTF-8";
/* アンダースコアから始まるファイル名のscssファイルはコンパイルされない */
/* 見出しやヘッダ・フッタに使用する色 */
/* MAIN_COLORを背景としたときのフォントの色 */
/* NOTE, INFO, ... などの色 */
@font-face {
  src: url(../../fonts/Noto_Sans_JP/NotoSansJP-Regular.otf);
  font-family: 'Noto Sans JP'; }

body {
  font-family: 'Noto Sans JP'; }

table, th, td {
  padding: 3px 8px;
  border: 1px solid midnightblue;
  border-collapse: collapse; }

th {
  background-color: midnightblue;
  color: white; }

h1, h2, h3, h4, h5, h6 {
  color: midnightblue; }

pre {
  border: 1px solid gray; }

.admonition-title {
  position: relative;
  left: -2px;
  top: -2px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: -4px;
  padding: 0px 4px;
  font-size: 1.4rem; }

.admonition.note {
  border-radius: 6px;
  border-color: lightskyblue;
  background-color: azure; }
  .admonition.note .admonition-title {
    border-radius: 6px 6px 0px 0px;
    border-color: lightskyblue;
    background-color: lightskyblue;
    color: white; }

.admonition.info {
  border-radius: 6px;
  border-color: royalblue;
  background-color: lightcyan; }
  .admonition.info .admonition-title {
    border-radius: 6px 6px 0px 0px;
    border-color: royalblue;
    background-color: royalblue;
    color: white; }

.admonition.warning {
  border-radius: 6px;
  border-color: orange;
  background-color: lightyellow; }
  .admonition.warning .admonition-title {
    border-radius: 6px 6px 0px 0px;
    border-color: orange;
    background-color: orange;
    color: white; }

.admonition.tip {
  border-radius: 6px;
  border-color: seagreen;
  background-color: honeydew; }
  .admonition.tip .admonition-title {
    border-radius: 6px 6px 0px 0px;
    border-color: seagreen;
    background-color: seagreen;
    color: white; }

.admonition.danger {
  border-radius: 6px;
  border-color: crimson;
  background-color: lavenderblush; }
  .admonition.danger .admonition-title {
    border-radius: 6px 6px 0px 0px;
    border-color: crimson;
    background-color: crimson;
    color: white; }

.note, .info, .danger, .tip, .warning {
  margin: 20px;
  border-width: 2px;
  border-style: solid; }
  .note::before, .info::before, .danger::before, .tip::before, .warning::before {
    position: relative;
    top: 6px;
    left: -2px;
    padding: 8px; }

/* .katexのスタイルを変えても反映されない？eqとeqnのスタイルを変えたらいけた */
eq {
  /* インライン数式 */
  font-size: 1.3rem; }

eqn {
  /* ブロック数式 */
  font-size: 1.5rem; }
