/* アンダースコアから始まるファイル名のscssファイルはコンパイルされない */
/* 見出しやヘッダ・フッタに使用する色 */
$MAIN_COLOR: midnightblue;
/* MAIN_COLORを背景としたときのフォントの色 */
$MAIN_FONT_COLOR: white;

/* NOTE, INFO, ... などの色 */
$admonition: (
  note: (
    color: white,
    border-color: lightskyblue,
  ),
  info: (
    color: white,
    border-color: royalblue,
  ),
  warning: (
    color: white,
    border-color: orange,
  ),
  tip: (
    color: white,
    border-color: seagreen,
  ),
  danger: (
    color: white,
    border-color: crimson,
  )
);
