/* アンダースコアから始まるファイル名のscssファイルはコンパイルされない */
/* 見出しやヘッダ・フッタに使用する色 */
$MAIN_COLOR: midnightblue;
/* MAIN_COLORを背景としたときのフォントの色 */
$MAIN_FONT_COLOR: white;

/* NOTE, INFO, ... などの色 */
$admonition: (
  note: (
    color: white,
    border-color: lightskyblue,
    background-color: azure
  ),
  info: (
    color: white,
    border-color: royalblue,
    background-color: lightcyan
  ),
  warning: (
    color: white,
    border-color: orange,
    background-color: lightyellow
  ),
  tip: (
    color: white,
    border-color: seagreen,
    background-color: honeydew
  ),
  danger: (
    color: white,
    border-color: crimson,
    background-color: lavenderblush
  )
);
