@import "variables"; // ファイル名先頭の_(アンダースコア)はなしでインポートできる

table, th, td {
  padding: 3px 8px;
  border: 1px solid $MAIN_COLOR;
  border-collapse: collapse;
}

th {
  background-color: $MAIN_COLOR;
  color: $MAIN_FONT_COLOR;
}

p {
  // border: 2px solid $MAIN_COLOR;

}

h1, h2, h3, h4, h5, h6 {
  color: $MAIN_COLOR;
}

pre {
  border: 1px solid gray;
}

.admonition-title {
  position: relative;
  left: -2px;
  top: -2px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: -4px;
  font-size: 2rem;

  @each $type, $prop in $admonition {
    .#{$type} & {
      color: map-get($prop, color);
      background-color: map-get($prop, border-color);
    }
  }
}

.admonition {
  @each $type, $prop in $admonition {
    &.#{$type} {
      border-color: map-get($prop, border-color);
    }
  }
}

.note, .info, .danger, .tip, .warning {
  &::before {
    position: relative;
    top: 6px;
    left: -2px;
    padding: 8px;
  }
  margin: 20px;
  border-width: 2px;
  border-style: solid;
}

/* .katexのスタイルを変えても反映されない？eqとeqnのスタイルを変えたらいけた */
eq {
  /* インライン数式 */
  font-size: 1.3rem;
}

eqn {
  /* ブロック数式 */
  font-size: 1.5rem;
}

