@import "variables"; // ファイル名先頭の_(アンダースコア)はなしでインポートできる

table, th, td {
  padding: 3px 8px;
  border: 1px solid $MAIN_COLOR;
  border-collapse: collapse;
}

th {
  background-color: $MAIN_COLOR;
  color: $MAIN_FONT_COLOR;
}

p {
  // border: 2px solid $MAIN_COLOR;

}

h1, h2, h3, h4, h5, h6 {
  color: $MAIN_COLOR;
}

pre {
  border: 1px solid gray;
}

.note {
  &::before {
    content: 'NOTE';
    color: $NOTE_FONT_COLOR;
    background-color: $NOTE_COLOR;
  }
  border-color: $NOTE_COLOR;
}

.info {
  &::before {
    content: 'INFO';
    color: $INFO_FONT_COLOR;
    background-color: $INFO_COLOR;
  }
  border-color: $INFO_COLOR;
}

.danger {
  &::before {
    content: 'DANGER';
    color: $DANGER_FONT_COLOR;
    background-color: $DANGER_COLOR;
  }
  border-color: $DANGER_COLOR;
}

.tip {
  &::before {
    content: 'TIP';
    color: $TIP_FONT_COLOR;
    background-color: $TIP_COLOR;
  }
  border-color: $TIP_COLOR;
}

.warning {
  &::before {
    content: 'WARNING';
    color: $WARNING_FONT_COLOR;
    background-color: $WARNING_COLOR;
  }
  border-color: $WARNING_COLOR;
}

.note, .info, .danger, .tip, .warning {
  &::before {
    position: relative;
    top: 6px;
    left: -2px;
    padding: 8px;
  }
  margin: 20px;
  border-width: 2px;
  border-style: solid;
}

/* .katexのスタイルを変えても反映されない？eqとeqnのスタイルを変えたらいけた */
eq {
  /* インライン数式 */
  font-size: 1.3rem;
}

eqn {
  /* ブロック数式 */
  font-size: 1.5rem;
}

